.header {
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.header > img {
    object-fit: contain;
    height: 80px;
}